/**** Body and other important elements ****/

body {
    font: 16px "Droid Sans", Arial, sans-serif;
    background: #fff;
    color: #333;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/**** Basic stuff ****/

h1, h2, h3, h4, h5, p {
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #07a;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
    text-transform: uppercase;
}
strong {
    font-weight: bold;
}
cite, em {
    font-style: italic;
}

/**** Links ****/

a {
    color: #07a;
    text-decoration: none;
    border-bottom: 1px dotted #07a
}
a:hover {
    color: #00f;
}

/********************************* 
Specific sections and layout 
**********************************/

/**** Sliding menu and its contents ****/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}
#toggle {
   position: absolute;
   opacity: 0;
}
label {
   display: block;
   position: fixed;
   top: 10px;
   left: 10px;
   font-size: 60px;
   line-height: 50px;
   padding: 0 6px 10px 6px;
   color: #07a;
   z-index: 3;
   cursor: pointer;
   transition: Ñolor .1s;
}
/* When button (checkbox) is clicked, 
move out the menu and move the page to the right */
#toggle:checked ~ .menu {
    left: 0;
}
/* Change appearence of a button when it's part of menu */
#toggle:checked ~ label {
    color: #fff;
    transition: color .1s ease-in-out .2s, background-color .1s ease-in-out .2s;
}
#toggle:checked ~ #overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in-out .3s, visibility .2s ease-in-out .3s;
}
#toggle:checked ~ label:hover {
    background-color: #3ad;
}
.menu {
    position: fixed;
    display: block;
    height: 150%;
    width: 20%;
    left: -100%;
    background-color: #07a;
    color: #fff;
    z-index: 2;
    transition: left .5s ease-in-out;
}
/* Styles for menu itself */ 
.menu ul {
    margin-top: 80px;
}
.menu > ul:nth-child(1) {
    border-top: 1px solid #058;
}
.menu > ul > li > a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #058;
}
.menu > ul > li > a:hover {
   background: #3ad;
}
/* Styles for other stuff inside slider*/
.menu a {
    color: #eee;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.menu a:hover {
    color: #fff;
    text-shadow: 0 0 3px rgba(255,255,255,.7);
}
.menu footer {
    position: absolute;
    bottom: 35%;
    margin-left: 10px;
}

/**************************************
Main layout
**************************************/

.grid {
    width: 75%;
    margin-left: 75px;
}
.main-header {
    border-bottom: 3px solid #07a;
    margin-bottom: 20px;
    color: #07a;
    font-family: "Droid Sans Mono", "Courier New", monospace;
}
.main-header h1 {
    font-size: 70px;
    margin: 0;
    font-weight: bold;
}
.main-header p {
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content > article {
    order: 1;
    flex: 2 1 75%;
}

.content > aside {
    padding: 15px;
    margin-top: 30px;
    margin-left: 15px;
    box-shadow: 0 0 2px #07a;
    border-radius: 3px;
    order: 2;
    flex: 1 2 25%;
}

.content > aside ul {
    color: #07a;
    list-style-type: square;
    list-style-position: inside;
}
.content > aside a {
    color: #555;
    border-bottom: 1px solid #ddd;
    transition: all ease-in-out .5s;
}
.content > aside a:hover {
    color: #f50;
    text-shadow: 0 0 3px rgba(255,85,0,.4);
    border-bottom-color: rgba(255,85,0,.3);
}

/**** Individual elements stuff ***/

/**************************************
Adaptive design stuff 
**************************************/

@media all and (max-width: 1024px) {
    /* When mobile Chrome's or Firefox's url bar
    goes up, the button slides up, too. This prevents it */
    #toggle:checked ~ label {
        position: fixed;
    }
    /* Moving looks not right in mobile layouts. */
    label {
        position: absolute;
    }
    .menu {
        width: 100%;
        left: -100%;
    }
    .menu li {
        display: block;
    } 
    .grid {
        width: 90%;
        margin: 0 10px;
    }
    .main-header {
        margin-left: 75px;
    }
    .main-header h1 {
        font-size: 50px;
    }
    .content {
        flex-direction: column;
        align-items: stretch;
    }
    .content > article {
        flex: none;
        order: 2;
    }
    .content > aside {
        margin: 0 0 15px 0;
        flex: none;
        order: 1;
    }
}

@media all and (max-width: 400px) {
    .main-header h1 {
        font-size: 36px;
    }
}
