/*
 **************************************
 Reset
 **************************************
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 **************************************
 Custom styles
 **************************************
*/

@viewport {
  width: device-width;
  zoom: 1;
}

/**** Basic stuff ****/
body {
    font-size: 16px/22px;
    font-family: "Droid Sans", sans-serif;
    background: #fff;
    color: #000;
}

*, *:before, *:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #07a;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
    text-transform: uppercase;
}
strong {
    font-weight: bold;
}
cite, em {
    font-style: italic;
}

/**** Links stuff ****/ /* What? I like word stuff. It's a higly generic yet descriptive term */
a {
    color: #07a;
    text-decoration: none;
}
a:hover {
    color: #00f;
}

/**** Specific sections and layout stuff ****/

#toggle {
   position: absolute;
   opacity: 0;
}
label {
   position: absolute;
   top: 5px;
   left: 10px;
   display: block;
   font-size: 50px;
   color: #07a;
   z-index: 2;
   cursor: pointer;
   transition: transform .2s;
}
#toggle:checked ~ .menu {
   transform: translateX(100%);
}
#toggle:checked ~ .grid {
    transform: translateX(250px);
}
#toggle:checked ~ label {
    transform: translateX(0);
    color: #fff;
    border: 1px solid #058;
}
#toggle:checked ~ label:hover {
    background: #3ad;
}

.menu {
    position: absolute;
    width: 250px;
    left: -250px;
    background-color: #07a;
    height: 100%;
    box-shadow: inset -3px 0 5px rgba(0,0,0,.3);
    z-index: 1;
    /*transform: translateX(-100%);*/
    transition: transform .2s;
}
.menu ul {
    margin-top: 60px;
}
.menu ul li {
   display: block;
   text-decoration: none;
   font-size: 1.1em;
   padding: 15px;
   border-bottom: 1px solid #058;
}
.menu ul:nth-child(1) {
    border-top: 1px solid #058;
}
.menu li:hover {
   background: #3ad;
}
.menu a {
    color: #fff;
}

.grid {
    min-height: 400px;
    margin-left: 50px;
    margin-right: 25%;
    display: block;
    transition: transform .2s;
}
.primary-header {
    padding: 5px 0;
    border-bottom: 3px solid #07a;
    margin-bottom: 20px;
}
.primary-header h1 {
    font-size: 70px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}
.primary-header p {
    color: #07a;
    font-family: "Droid Serif", serif;
    font-style: italic;
}
.grid > article {
    flex: 5 1 75%;
}
.grid > footer {
    display: block;
    margin-top: 30px;
}

/**** Individual elements stuff ****/

/**** Adaptive design stuff ****/

@media all and (max-width: 1000px) {
    #toggle:checked ~ .grid {
        transform: translateX(0);
    }
    .grid {
        margin: 0 50px;
    }
}

@media all and (max-width: 500px) {
    label {
        display: block;
        position: static;
        font-size: 60px;
        margin: 10px;
    }
    .menu {
        width: 100%;
        left: -100%;
    }
    .grid {
        margin: 0 10px;
    }
    .primary-header h1 {
        font-size: 50px;
    }
}
